<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置springmvc -->
    <!-- 开启springmvc注解模式 -->
    <!-- 简化配置:
        1.自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
        2.默认提供一系列功能:数据绑定,数字和日期的format @NumberFormat,@DataTimeFormat,
            xml,json默认读写支持.
        -->
    <mvc:annotation-driven/>

    <!-- 配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 扫描bean -->
    <context:component-scan base-package="com.zgh.onlinevideo"/>

    <!-- 静态资源处理 springmvc不处理静态资源请求 -->
<!--    <mvc:default-servlet-handler/>-->
    <!-- 该类请求mapping 直接映射到路径location下 -->
    <mvc:resources mapping="/imgs/**" location="/static/imgs/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/static/css/"></mvc:resources>
    <mvc:resources mapping="/fonts/**" location="/static/fonts/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/static/js/"></mvc:resources>

</beans>